b {
    color: rgb(9, 233, 177);
}
.main-text{
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(87, 199, 134, 0.712) 0%, rgba(76, 176, 107, 1) 50%, rgba(15, 138, 54, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
  text-decoration: none;

}

.main-text:hover
{
    cursor: pointer;
}

.blood{
    color: red;
}